pipeline/03_dim_loader.json
{
	"name": "03_dim_loader",
	"properties": {
		"activities": [
			{
				"name": "sqlserver_to_hive",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.cw_items",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy_5vl",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "glb_master_data_dtm.@{item().source.table}"
								},
								{
									"name": "Destination",
									"value": "data/dtm_eng/tmp/100000_95/hive/dim/@{item().destination.fileName}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"validateDataConsistency": false
							},
							"inputs": [
								{
									"referenceName": "SourceDataset_5vl",
									"type": "DatasetReference",
									"parameters": {
										"cw_table": "@item().source.table"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DestinationDataset_5vl",
									"type": "DatasetReference",
									"parameters": {
										"cw_fileName": "@item().destination.fileName"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "dtm_dim_loader",
				"type": "HDInsightHive",
				"dependsOn": [
					{
						"activity": "sqlserver_to_hive",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"scriptPath": "hive/scripts/reg20_dtm_eng_dtm_dim.hql",
					"scriptLinkedService": {
						"referenceName": "lksazureblobstorage",
						"type": "LinkedServiceReference"
					}
				},
				"linkedServiceName": {
					"referenceName": "lkshdinsight",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "hive_to_sqlserver",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "dtm_dim_loader",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.cw_items",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy_5vl_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "glb_master_data_dtm.@{item().source.table}"
								},
								{
									"name": "Destination",
									"value": "data/dtm_eng/tmp/100000_95/hive/dim/@{item().destination.fileName}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "HiveSource",
									"query": {
										"value": "@concat('select * from reg20_dtm_eng_dtm.', item().source.table)",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"validateDataConsistency": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "date_format_date",
												"type": "String"
											},
											"sink": {
												"name": "date_format_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "date_format_int",
												"type": "Int32"
											},
											"sink": {
												"name": "date_format_int",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "date_format_yyyy_mm_dd",
												"type": "String"
											},
											"sink": {
												"name": "date_format_yyyy_mm_dd",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "date_format_dd_mm",
												"type": "String"
											},
											"sink": {
												"name": "date_format_dd_mm",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "day_suffix",
												"type": "String"
											},
											"sink": {
												"name": "day_suffix",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "day_name",
												"type": "String"
											},
											"sink": {
												"name": "day_name",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "day_name_short",
												"type": "String"
											},
											"sink": {
												"name": "day_name_short",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "day_num_of_week_format_d",
												"type": "Int32"
											},
											"sink": {
												"name": "day_num_of_week_format_d",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "day_num_of_month_format_dd",
												"type": "String"
											},
											"sink": {
												"name": "day_num_of_month_format_dd",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "day_num_of_year_format_ddd",
												"type": "String"
											},
											"sink": {
												"name": "day_num_of_year_format_ddd",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "day_is_week_end_y_n",
												"type": "String"
											},
											"sink": {
												"name": "day_is_week_end_y_n",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "week_num_of_year_format_w00",
												"type": "String"
											},
											"sink": {
												"name": "week_num_of_year_format_w00",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "week_num_of_year_format_yyyy_ww00",
												"type": "String"
											},
											"sink": {
												"name": "week_num_of_year_format_yyyy_ww00",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "week_num_of_year_format_yyyy__ww00",
												"type": "String"
											},
											"sink": {
												"name": "week_num_of_year_format_yyyy__ww00",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "iso_week_num_of_year_format_w00",
												"type": "String"
											},
											"sink": {
												"name": "iso_week_num_of_year_format_w00",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "iso_week_num_of_year_format_yyyy_ww00",
												"type": "String"
											},
											"sink": {
												"name": "iso_week_num_of_year_format_yyyy_ww00",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "iso_week_num_of_year_format_yyyy__ww00",
												"type": "String"
											},
											"sink": {
												"name": "iso_week_num_of_year_format_yyyy__ww00",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ops_week_num_of_year_format_w00",
												"type": "String"
											},
											"sink": {
												"name": "ops_week_num_of_year_format_w00",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ops_week_num_of_year_format_yyyy_ww00",
												"type": "String"
											},
											"sink": {
												"name": "ops_week_num_of_year_format_yyyy_ww00",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ops_week_num_of_year_format_yyyy__ww00",
												"type": "String"
											},
											"sink": {
												"name": "ops_week_num_of_year_format_yyyy__ww00",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "first_day_of_week_format_date",
												"type": "String"
											},
											"sink": {
												"name": "first_day_of_week_format_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "last_day_of_week_format_date",
												"type": "String"
											},
											"sink": {
												"name": "last_day_of_week_format_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "week_num_of_month_format_w",
												"type": "Int32"
											},
											"sink": {
												"name": "week_num_of_month_format_w",
												"type": "Byte"
											}
										},
										{
											"source": {
												"name": "month_num_format_mm",
												"type": "String"
											},
											"sink": {
												"name": "month_num_format_mm",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "month_num_format_yyyy_mm",
												"type": "String"
											},
											"sink": {
												"name": "month_num_format_yyyy_mm",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "month_name",
												"type": "String"
											},
											"sink": {
												"name": "month_name",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ops_month_num_format_mm",
												"type": "String"
											},
											"sink": {
												"name": "ops_month_num_format_mm",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ops_month_num_format_yyyy_mm",
												"type": "String"
											},
											"sink": {
												"name": "ops_month_num_format_yyyy_mm",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ops_month_name",
												"type": "String"
											},
											"sink": {
												"name": "ops_month_name",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "themonthshortname",
												"type": "String"
											},
											"sink": {
												"name": "TheMonthShortName",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "first_day_of_month_format_date",
												"type": "String"
											},
											"sink": {
												"name": "first_day_of_month_format_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "last_day_of_month_format_date",
												"type": "String"
											},
											"sink": {
												"name": "last_day_of_month_format_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "first_day_of_next_month_format_date",
												"type": "String"
											},
											"sink": {
												"name": "first_day_of_next_month_format_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "last_day_of_next_month_format_date",
												"type": "String"
											},
											"sink": {
												"name": "last_day_of_next_month_format_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "quarter_num_format_q0",
												"type": "String"
											},
											"sink": {
												"name": "quarter_num_format_Q0",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "first_day_of_quarter_format_date",
												"type": "String"
											},
											"sink": {
												"name": "first_day_of_quarter_format_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "last_day_of_quarter_format_date",
												"type": "String"
											},
											"sink": {
												"name": "last_day_of_quarter_format_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "year_format_yyyy",
												"type": "Int32"
											},
											"sink": {
												"name": "year_format_yyyy",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "iso_year_format_yyyy",
												"type": "Int32"
											},
											"sink": {
												"name": "iso_year_format_yyyy",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "ops_year_format_yyyy",
												"type": "Int32"
											},
											"sink": {
												"name": "ops_year_format_yyyy",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "first_day_of_year_format_date",
												"type": "String"
											},
											"sink": {
												"name": "first_day_of_year_format_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "last_day_of_year_format_date",
												"type": "String"
											},
											"sink": {
												"name": "last_day_of_year_format_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "year_is_leap_year_y_n",
												"type": "String"
											},
											"sink": {
												"name": "year_is_leap_year_y_n",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "year_has_53_weeks_y_n",
												"type": "String"
											},
											"sink": {
												"name": "year_has_53_weeks_y_n",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "iso_year_has_53_weeks_y_n",
												"type": "String"
											},
											"sink": {
												"name": "iso_year_has_53_weeks_y_n",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ops_year_has_53_weeks_y_n",
												"type": "String"
											},
											"sink": {
												"name": "ops_year_has_53_weeks_y_n",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "id",
												"type": "Int32"
											},
											"sink": {
												"name": "id",
												"type": "Int32"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "HiveObject1",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "SourceDataset_5vm",
									"type": "DatasetReference",
									"parameters": {
										"cw_table": "@item().source.table"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"cw_items": {
				"type": "Array",
				"defaultValue": [
					{
						"source": {
							"table": "dm_client"
						},
						"destination": {
							"fileName": "dm_client/dm_client.csv"
						}
					},
					{
						"source": {
							"table": "dm_date"
						},
						"destination": {
							"fileName": "dm_date/dm_date.csv"
						}
					},
					{
						"source": {
							"table": "dm_lob"
						},
						"destination": {
							"fileName": "dm_lob/dm_lob.csv"
						}
					},
					{
						"source": {
							"table": "dm_media_channel"
						},
						"destination": {
							"fileName": "dm_media_channel/dm_media_channel.csv"
						}
					},
					{
						"source": {
							"table": "dm_region"
						},
						"destination": {
							"fileName": "dm_region/dm_region.csv"
						}
					},
					{
						"source": {
							"table": "dm_system"
						},
						"destination": {
							"fileName": "dm_system/dm_system.csv"
						}
					}
				]
			}
		},
		"annotations": []
	}
}