pipeline/21_core_loader.json
{
	"name": "21_core_loader",
	"properties": {
		"activities": [
			{
				"name": "23_1_loop_glb_tables",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.cw_items",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "23_1_1_sqlserver_to_hive",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "switch_tables",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@variables('core_query')",
										"type": "Expression"
									},
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"validateDataConsistency": false
							},
							"inputs": [
								{
									"referenceName": "sqlserver_glb_master_data_core",
									"type": "DatasetReference",
									"parameters": {
										"cw_table": "@item().source.table"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "wabs_warehouse_reg20_core",
									"type": "DatasetReference",
									"parameters": {
										"cw_fileName": "@item().destination.filename"
									}
								}
							]
						},
						{
							"name": "switch_tables",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "23_1_1_clean_dest",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().source.table",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "lob",
										"activities": [
											{
												"name": "set_lob_query",
												"type": "SetVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "core_query",
													"value": {
														"value": "select \n\tid, lob_cd,\n       lob,\n       fk_client_id from [glb_master_data_core].[lob]\nwhere id < 0\nunion all\nSELECT \n\tROW_NUMBER() over (order by lob), *\nFROM (\nSELECT DISTINCT\n       lob_cd,\n       lob,\n       client.id as fk_client_id\nFROM\n(\n       select\n             lob_cd,\n             lob,\n             client\n       from\n             [glb_master_data_core].[lob]\n                    inner join [glb_master_data_core].[client]\n                           on [lob].fk_client_id = client.id\n                    inner join  [glb_master_data_core].lt_country_client\n                           on [client].id = lt_country_client.fk_client_id\n                    inner join [glb_master_data_core].country\n                           on country.id = lt_country_client.fk_country_id\n                    inner join [glb_master_data_core].region\n                           on region.id = country.fk_region_id\n       WHERE region.region = 'FAB'\n) lob\n       inner join [reg20_master_data_core].[client]\n             on lob.client = [client].client\n) a;",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"value": "sub_lob",
										"activities": [
											{
												"name": "set_sub_lob_query",
												"type": "SetVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "core_query",
													"value": {
														"value": "WITH SUBQ AS (\nSELECT \n\tROW_NUMBER() over (order by lob) as id, *\nFROM (\nSELECT DISTINCT\n       lob_cd,\n       lob,\n       client.id as fk_client_id\nFROM\n(\n       select\n             lob_cd,\n             lob,\n             client\n       from\n             [glb_master_data_core].[lob]\n                    inner join [glb_master_data_core].[client]\n                           on [lob].fk_client_id = client.id\n                    inner join  [glb_master_data_core].lt_country_client\n                           on [client].id = lt_country_client.fk_client_id\n                    inner join [glb_master_data_core].country\n                           on country.id = lt_country_client.fk_country_id\n                    inner join [glb_master_data_core].region\n                           on region.id = country.fk_region_id\n       WHERE region.region = 'FAB'\n) lob\n       inner join [reg20_master_data_core].[client]\n             on lob.client = [client].client\n) a)\n\nselect \n\tid, lob_cd,\n       lob,\n       id from [glb_master_data_core].[lob]\nwhere id < 0\nunion all\nSELECT \n\tROW_NUMBER() over (order by sub_lob), *\nFROM (\nSELECT DISTINCT\n       sub_lob_cd,\n       sub_lob,\n          SUBQ.id as fk_lob_id    \nFROM\n(\n       select distinct\n             sub_lob_cd,\n             sub_lob,\n                    lob_cd,\n                    lob\n       from\n             [glb_master_data_core].[lob]\n                    inner join [glb_master_data_core].[client]\n                           on [lob].fk_client_id = client.id\n                    inner join  [glb_master_data_core].lt_country_client\n                           on [client].id = lt_country_client.fk_client_id\n                    inner join [glb_master_data_core].country\n                           on country.id = lt_country_client.fk_country_id\n                    inner join [glb_master_data_core].region\n                           on region.id = country.fk_region_id\n                                 inner join [glb_master_data_core].sub_lob\n                                        on [lob].id = sub_lob.fk_lob_id\n       WHERE region.region = 'FAB'\n) sub_lob\n       inner join SUBQ\n             on SUBQ.lob = [sub_lob].lob) b",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"value": "system",
										"activities": [
											{
												"name": "set_system_query",
												"type": "SetVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "core_query",
													"value": {
														"value": "select * from glb_master_data_core.system where system_cd in ('sys_000009', 'sys_000010', 'sys_000012') or id<0",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"value": "company",
										"activities": [
											{
												"name": "set_company_query",
												"type": "SetVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "core_query",
													"value": {
														"value": "SELECT cm.*\n  FROM [glb_master_data_core].[country] c\n  join [glb_master_data_core].[region] r on c.fk_region_id = r.id\n  join [glb_master_data_core].[company] cm on cm.fk_country_id = c.id\n  where r.region = 'FAB'\nunion all\nselect * from [glb_master_data_core].[company] cm\nwhere id < 0",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"value": "country",
										"activities": [
											{
												"name": "set_country_query",
												"type": "SetVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "core_query",
													"value": {
														"value": "SELECT \nc.id,\nc.country_iso_cd_3,\nc.country,\nc.onshore_offshore\n  FROM [glb_master_data_core].[country] c\n  join [glb_master_data_core].[region] r on c.fk_region_id = r.id\n  where r.region = 'FAB'",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"value": "city",
										"activities": [
											{
												"name": "set_city_query",
												"type": "SetVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "core_query",
													"value": {
														"value": "SELECT *\n  FROM [reg20_master_data_core].[city]",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"value": "site",
										"activities": [
											{
												"name": "set_site_query",
												"type": "SetVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "core_query",
													"value": {
														"value": "SELECT *\n  FROM [reg20_master_data_core].[site]",
														"type": "Expression"
													}
												}
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "set_default_query",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "core_query",
											"value": {
												"value": "@concat('select * from glb_master_data_core.', item().source.table)",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "23_1_1_clean_dest",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "wabs_data_source_file",
									"type": "DatasetReference",
									"parameters": {
										"Container": "hive",
										"Directory": {
											"value": "@concat('warehouse/reg20_master_data_core/', item().source.table)",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().destination.filename",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"cw_items": {
				"type": "array",
				"defaultValue": [
					{
						"source": {
							"table": "lob"
						},
						"destination": {
							"fileName": "lob/lob.parquet"
						}
					},
					{
						"source": {
							"table": "sub_lob"
						},
						"destination": {
							"fileName": "sub_lob/sub_lob.parquet"
						}
					},
					{
						"source": {
							"table": "system"
						},
						"destination": {
							"fileName": "system/system.parquet"
						}
					},
					{
						"source": {
							"table": "country"
						},
						"destination": {
							"fileName": "country/country.parquet"
						}
					},
					{
						"source": {
							"table": "company"
						},
						"destination": {
							"fileName": "company/company.parquet"
						}
					},
					{
						"source": {
							"table": "site"
						},
						"destination": {
							"fileName": "site/site.parquet"
						}
					},
					{
						"source": {
							"table": "city"
						},
						"destination": {
							"fileName": "city/city.parquet"
						}
					}
				]
			}
		},
		"variables": {
			"core_query": {
				"type": "String",
				"defaultValue": "''"
			}
		},
		"folder": {
			"name": "02_dim_loader"
		},
		"annotations": []
	}
}