pipeline/22_dtm_loader.json
{
	"name": "22_dtm_loader",
	"properties": {
		"activities": [
			{
				"name": "22_1_loop_dtm_tables",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.cw_items",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "22_1_1_copy_table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "glb_master_data_dtm.@{item().source.table}"
								},
								{
									"name": "Destination",
									"value": "data/dtm_eng/tmp/100000_95/hive/dim/@{item().destination.fileName}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"validateDataConsistency": false
							},
							"inputs": [
								{
									"referenceName": "sqlserver_glb_master_data_dtm",
									"type": "DatasetReference",
									"parameters": {
										"cw_table": "@item().source.table"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "wabs_warehouse_reg20_dtm",
									"type": "DatasetReference",
									"parameters": {
										"cw_fileName": "@item().destination.fileName"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "22_2_hive_to_dtm",
				"type": "HDInsightHive",
				"dependsOn": [
					{
						"activity": "22_1_loop_dtm_tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"scriptPath": "hive/scripts/reg20_dtm_eng_dtm_dim.hql",
					"scriptLinkedService": {
						"referenceName": "lksazureblobstorage",
						"type": "LinkedServiceReference"
					}
				},
				"linkedServiceName": {
					"referenceName": "lkshdinsight",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "22_3_hive_to_sqlserver",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "22_2_hive_to_dtm",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.cw_items",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "22_3_1_copy_dim_tables",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "HiveSource",
									"query": {
										"value": "@concat('select * from reg20_dtm_eng_dtm.', item().source.table)",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "@{concat('truncate table reg20_dtm_eng_dtm.', item().source.table)}",
										"type": "Expression"
									},
									"disableMetricsCollection": false
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_hdi_hive",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "sqlserver_reg20_dtm_eng_dtm",
									"type": "DatasetReference",
									"parameters": {
										"cw_table": "@item().source.table"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"cw_items": {
				"type": "array",
				"defaultValue": [
					{
						"source": {
							"table": "dm_client"
						},
						"destination": {
							"fileName": "dm_client/dm_client.csv"
						}
					},
					{
						"source": {
							"table": "dm_date"
						},
						"destination": {
							"fileName": "dm_date/dm_date.csv"
						}
					},
					{
						"source": {
							"table": "dm_media_channel"
						},
						"destination": {
							"fileName": "dm_media_channel/dm_media_channel.csv"
						}
					},
					{
						"source": {
							"table": "dm_region"
						},
						"destination": {
							"fileName": "dm_region/dm_region.csv"
						}
					},
					{
						"source": {
							"table": "dm_time"
						},
						"destination": {
							"fileName": "dm_time/dm_time.csv"
						}
					}
				]
			}
		},
		"folder": {
			"name": "02_dim_loader"
		},
		"annotations": []
	}
}