pipeline/23_core_loader.json
{
	"name": "23_core_loader",
	"properties": {
		"activities": [
			{
				"name": "23_1_loop_glb_tables",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.cw_items",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "23_1_1_sqlserver_to_hive",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "switch_tables",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@variables('core_query')",
										"type": "Expression"
									},
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"validateDataConsistency": false
							},
							"inputs": [
								{
									"referenceName": "sqlserver_glb_master_data_core",
									"type": "DatasetReference",
									"parameters": {
										"cw_table": "@item().source.table"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "wabs_warehouse_reg20_core",
									"type": "DatasetReference",
									"parameters": {
										"cw_fileName": "@item().destination.filename"
									}
								}
							]
						},
						{
							"name": "switch_tables",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "23_1_1_clean_dest",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().source.table",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "lob",
										"activities": [
											{
												"name": "set_lob_query",
												"type": "SetVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "core_query",
													"value": {
														"value": "@concat(concat('select * from glb_master_data_core.', item().source.table), ' where lob like ''%Engie%'' or id<0')",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"value": "sub_lob",
										"activities": [
											{
												"name": "set_sub_lob_query",
												"type": "SetVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "core_query",
													"value": {
														"value": "@concat(concat('select * from glb_master_data_core.', item().source.table), ' where sub_lob like ''%Engie%'' or id<0')",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"value": "system",
										"activities": [
											{
												"name": "set_system_query",
												"type": "SetVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "core_query",
													"value": {
														"value": "select * from glb_master_data_core.system where system_cd in ('sys_000009', 'sys_000010', 'sys_000012') or id<0",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"value": "company",
										"activities": [
											{
												"name": "set_company_query",
												"type": "SetVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "core_query",
													"value": {
														"value": "SELECT cm.*\n  FROM [glb_master_data_core].[country] c\n  join [glb_master_data_core].[region] r on c.fk_region_id = r.id\n  join [glb_master_data_core].[company] cm on cm.fk_country_id = c.id\n  where r.region = 'FAB'",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"value": "country",
										"activities": [
											{
												"name": "set_country_query",
												"type": "SetVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "core_query",
													"value": {
														"value": "SELECT \nc.id,\nc.country_iso_cd_3,\nc.country,\nc.onshore_offshore\n  FROM [glb_master_data_core].[country] c\n  join [glb_master_data_core].[region] r on c.fk_region_id = r.id\n  where r.region = 'FAB'",
														"type": "Expression"
													}
												}
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "set_default_query",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "core_query",
											"value": {
												"value": "@concat('select * from glb_master_data_core.', item().source.table)",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "23_1_1_clean_dest",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "wabs_data_source_file",
									"type": "DatasetReference",
									"parameters": {
										"Container": "hive",
										"Directory": {
											"value": "@concat('warehouse/reg20_master_data_core/', item().source.table)",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().destination.filename",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"cw_items": {
				"type": "array",
				"defaultValue": [
					{
						"source": {
							"table": "lob"
						},
						"destination": {
							"fileName": "lob/lob.parquet"
						}
					},
					{
						"source": {
							"table": "sub_lob"
						},
						"destination": {
							"fileName": "sub_lob/sub_lob.parquet"
						}
					},
					{
						"source": {
							"table": "system"
						},
						"destination": {
							"fileName": "system/system.parquet"
						}
					},
					{
						"source": {
							"table": "country"
						},
						"destination": {
							"fileName": "country/country.parquet"
						}
					}
				]
			}
		},
		"variables": {
			"core_query": {
				"type": "String",
				"defaultValue": "''"
			}
		},
		"folder": {
			"name": "02_dim_loader"
		},
		"annotations": []
	}
}