pipeline/23_core_loader.json
{
	"name": "23_core_loader",
	"properties": {
		"activities": [
			{
				"name": "23_1_loop_glb_tables",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.cw_items",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "23_1_1_sqlserver_to_hive",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Switch1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "glb_master_data_dtm.@{item().source.table}"
								},
								{
									"name": "Destination",
									"value": "data/dtm_eng/tmp/100000_95/hive/dim/@{item().destination.fileName}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"validateDataConsistency": false
							},
							"inputs": [
								{
									"referenceName": "sqlserver_glb_master_data_core",
									"type": "DatasetReference",
									"parameters": {
										"cw_table": "@item().source.table"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "wabs_warehouse_reg20_core",
									"type": "DatasetReference",
									"parameters": {
										"cw_fileName": "@item().destination.fileName"
									}
								}
							]
						},
						{
							"name": "Switch1",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().source.table",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "'lob'",
										"activities": [
											{
												"name": "set_lob_query",
												"type": "SetVariable",
												"dependsOn": [],
												"userProperties": []
											}
										]
									},
									{
										"value": "'sub_lob'"
									}
								],
								"defaultActivities": [
									{
										"name": "set_default_query",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": []
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"cw_items": {
				"type": "array",
				"defaultValue": [
					{
						"source": {
							"table": "lob"
						},
						"destination": {
							"fileName": "lob.csv"
						}
					},
					{
						"source": {
							"table": "sub_lob"
						},
						"destination": {
							"fileName": "sub_lob.csv"
						}
					},
					{
						"source": {
							"table": "system"
						},
						"destination": {
							"fileName": "system.csv"
						}
					},
					{
						"source": {
							"table": "company"
						},
						"destination": {
							"fileName": "company.csv"
						}
					}
				]
			},
			"query": {
				"type": "string",
				"defaultValue": "''"
			}
		},
		"folder": {
			"name": "02_dim_loader"
		},
		"annotations": []
	}
}