pipeline/23_excel_loader.json
{
	"name": "23_excel_loader",
	"properties": {
		"activities": [
			{
				"name": "21_1_loop_files",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.ref",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "23_1_1_file_to_warehouse",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "23_1_0_clean_warehouse",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "wabs_data_source_excel",
									"type": "DatasetReference",
									"parameters": {
										"container": "data",
										"directory": "dtm_eng/ref",
										"filename": {
											"value": "@item().source.filename",
											"type": "Expression"
										},
										"sheet": "Sheet1"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "wabs_data_destination_csv",
									"type": "DatasetReference",
									"parameters": {
										"container": "hive",
										"directory": "@concat('warehouse/reg20_master_data_tmp/', item().destination.directory)",
										"filename": {
											"value": "@replace(item().source.filename, '.xlsx', '.csv')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "23_1_0_clean_warehouse",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "wabs_data_source_file",
									"type": "DatasetReference",
									"parameters": {
										"Container": "hive",
										"Directory": {
											"value": "@concat('warehouse/reg20_master_data_tmp/', item().destination.directory)",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().source.filename",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								}
							}
						},
						{
							"name": "23_1_2_file_to_archive",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "23_1_1_file_to_warehouse",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "wabs_data_source_file",
									"type": "DatasetReference",
									"parameters": {
										"Container": "data",
										"Directory": "dtm_eng/ref",
										"filename": {
											"value": "@item().source.filename",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "wabs_data_destination",
									"type": "DatasetReference",
									"parameters": {
										"Container": "data",
										"Directory": {
											"value": "@concat('dtm_eng/out/archive/ref/' ,replace(substring(getPastTime(0, 'Day'),0,10), '-', ''))",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().source.filename",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "23_1_3_file_to_trash",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "23_1_2_file_to_archive",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "wabs_data_source_file",
									"type": "DatasetReference",
									"parameters": {
										"Container": "data",
										"Directory": "dtm_eng/ref",
										"filename": {
											"value": "@item().source.filename",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								}
							}
						}
					]
				}
			},
			{
				"name": "21_2_tmp_to_core",
				"type": "HDInsightHive",
				"dependsOn": [
					{
						"activity": "21_1_loop_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"scriptPath": "hive/scripts/reg20_excel_core_dtm.hql",
					"scriptLinkedService": {
						"referenceName": "lksazureblobstorage",
						"type": "LinkedServiceReference"
					}
				},
				"linkedServiceName": {
					"referenceName": "lkshdinsight",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"ref": {
				"type": "array",
				"defaultValue": [
					{
						"source": {
							"filename": "glu_master_data_login.xlsx"
						},
						"destination": {
							"directory": "tmp_master_data_login_employee"
						}
					},
					{
						"source": {
							"filename": "siop_master_data_employee.xlsx"
						},
						"destination": {
							"directory": "tmp_master_data_employee"
						}
					},
					{
						"source": {
							"filename": "siop_master_data_employee_hierarchy_functional.xlsx"
						},
						"destination": {
							"directory": "tmp_master_data_employee_hierarchy_functional"
						}
					}
				]
			}
		},
		"folder": {
			"name": "02_dim_loader"
		},
		"annotations": []
	}
}