pipeline/25_core_to_dtm.json
{
	"name": "24_core_to_dtm",
	"properties": {
		"activities": [
			{
				"name": "24_1_core_to_dtm",
				"type": "HDInsightHive",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"scriptPath": "hive/scripts/reg20_master_data_core_dtm.hql",
					"scriptLinkedService": {
						"referenceName": "lksazureblobstorage",
						"type": "LinkedServiceReference"
					}
				},
				"linkedServiceName": {
					"referenceName": "lkshdinsight",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "24_2_hive_to_sqlserver",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "24_1_core_to_dtm",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.cw_items",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "24_2_1_copy_dim_tables",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "HiveSource",
									"query": {
										"value": "@concat('select * from reg20_dtm_eng_dtm.', item().source.table)",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "@{concat('truncate table reg20_dtm_eng_dtm.', item().source.table)}",
										"type": "Expression"
									},
									"disableMetricsCollection": false
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_hdi_hive",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "sqlserver_reg20_dtm_eng_dtm",
									"type": "DatasetReference",
									"parameters": {
										"cw_table": "@item().source.table"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"cw_items": {
				"type": "array",
				"defaultValue": [
					{
						"source": {
							"table": "dm_lob"
						}
					},
					{
						"source": {
							"table": "dm_skill"
						}
					},
					{
						"source": {
							"table": "dm_activity"
						}
					},
					{
						"source": {
							"table": "dm_employee"
						}
					},
					{
						"source": {
							"table": "dm_system"
						}
					}
				]
			}
		},
		"folder": {
			"name": "02_dim_loader"
		},
		"annotations": []
	}
}